@charset "UTF-8";

html, body{
  scroll-behavior: smooth;
}

.desktop{
  display: flex;
  list-style-type: none;
}

.imenu{
  display: none;
}
.menu-lateral{
  display:none;
}

header > nav > .itens  a{
  font-size: 1.2em;
  font-weight: 600;
  display: block;
  color: white;
  text-decoration: none; 
}

header > nav > .itens a:hover{
  background-color:var(--cor1); 
  color: white;
  transition-duration: 0.3s;
  border-radius: 10px;
  padding: 3px 5px;
}

header > nav > .itens{
  display: flex;
  align-items: center;
  height: 30px;
  gap: 35px;
}

.sobre{
  height: 80%;
}

.txt{
width: 40%;
margin-right: 5%;
}

.sobre> .txt> p{
  width: 100%;
}

.texto-deslizante {
  font-size: 1.3em; 
}

.advogada{
  background-image: url(../imagens/advogada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 560px;
}

.acidentes{
  flex-direction: row;
  width: 1000px;
  margin: 70px auto;
}

.conteudo-acidentes{
  flex-direction: row;
}

.conteudo-acidentes > img{
  width: 45%;
  border-radius: 0px;  
}

.oculto{
  display: none;
}

.visivel{
  display: block;
}

.txt-acidente{
  gap: 30px;
}

.texto-acidentes{
  margin: 0px 100px;
}

.saude{
  flex-direction: row;
  width: 1000px;
  margin: 70px auto;  
  }

.areas-atuacao{
  flex-direction: row;
  width: 1250px;
  margin: 70px auto;
  gap: 70px;
    
  }

.conteudo-curriculo{
  justify-content: space-around;
  align-items: center;
  }

.ft-curriculo{
  width: 400px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.384);
}

.txt-curriculo{
  width: 50%;
  margin-top: 20px;
  font-size: 1.2em;
}
      
 #valores{
  background-image: url(../imagens/texturag.jpg);
  font-size: 20px;
  height: 700px;
 }

 #valores h2{
  font-weight: 400;
 }

 .itens-valores{
  display: flex;
  justify-content: center;
  margin-top:25px ;
  gap: 100px;
 }

 .itens-valores p{
  display: none;
 }

.sessao-footer{
  gap: 40px;
  justify-content: start;
  flex-direction: row;
}

.sessao-footer > div{
margin-top: 25px;
margin-right: 60px;
}

.sessao-conquistas{
  height: 200px;
}

.countainer-principal-counter{
  display: flex;
  justify-content: center;
}

.links-uteis > li{
  font-size: 1.4em;
  margin: 20px 0px;
}



